<launch>

<arg name="scot_name" default="" doc="robot name, e.g. robot_1"/>

<group ns="/$(arg scot_name)">

  <include file="$(find mr_scot)/launch/robot_with_tf.launch">
    <arg name="scot_name" value="$(arg scot_name)"/>
  </include>
	
  <include file="$(find mr_scot)/launch/rplidar.launch">
    <arg name="scot_name" value="$(arg scot_name)"/>
  </include>

  <include file="$(find mr_scot)/launch/gmapping.launch">
    <arg name="scot_name" value="$(arg scot_name)"/>
  </include>

  <include file="$(find mr_scot)/launch/navigation_stack.launch">
    <arg name="scot_name" value="$(arg scot_name)"/>
  </include>

  <include file="$(find mr_scot)/launch/orbec.launch">
    <arg name="scot_name" value="$(arg scot_name)"/>
  </include>


  <include file="$(find mr_scot)/launch/track.launch">
    <arg name="scot_name" value="$(arg scot_name)"/>
  </include>
<!--
  <node pkg="tf" type="static_transform_publisher" name="camera_link_0" args="0 0 0 0 1.57 0 $(arg scot_name)/camera_link ar_marker_0 100"/>
  <node pkg="tf" type="static_transform_publisher" name="camera_link_1" args="0 0 0 0 1.57 0 $(arg scot_name)/camera_link ar_marker_1 100"/>
  <node pkg="tf" type="static_transform_publisher" name="ar_marker_1" args="0 0 0 1.57 0 0 ar_marker_1 ar_marker_1_FV 100"/>
-->
</group>

</launch>
