<launch>

<arg name="scot_name" default="" doc="robot name, e.g. robot_1"/>

<group ns="/$(arg scot_name)">

  <include file="$(find mr_scot)/launch/robot_with_tf.launch">
    <arg name="scot_name" value="$(arg scot_name)"/>
  </include>
	
  <include file="$(find mr_scot)/launch/rplidar.launch">
    <arg name="scot_name" value="$(arg scot_name)"/>
  </include>

  <include file="$(find ar_tag)/launch/main.launch">
  </include>

</group>
  
</launch>
